<section data-ng-controller="EventController" class="row">
	<h3 class="col-md-12 text-center">Create An Event</h3>

	<div class="col-sm-6 col-sm-offset-3">
		<br/><br/>
		<form name="eventForm" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="eventName">Name</label>

					<div class="col-sm-7">
						<input type="text" required id="eventName" name="eventName" class="form-control" ng-model="event.name" placeholder="Event Name" validator="required, alpha" valid-method="blur">

					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="location">Location</label>

					<div class="col-sm-7">
						<input type="text" id="location" name="location" class="form-control"
							   ng-model="event.location" placeholder="Location" validator="required, alpha" valid-method="blur">

					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="startTime">Start Time</label>

					<div class="col-sm-7">
						<input type="startTime" id="startTime" name="startTime" class="form-control"
							   ng-model="event.startTime"
							   placeholder="Start Time" validator="required" valid-method="blur">

					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="endTime">End Time</label>

					<div class="col-sm-7">
						<input type="text" id="endTime" name="endTime" class="form-control"
							   ng-model="event.endTime" placeholder="End Time" validator="required, nospecialchars" minlength-error-message="Minimum 5 characters" valid-method="blur">

					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" for="message">Message</label>

					<div class="col-sm-7">
						<textarea class="form-control" rows="3" id="message" name="message" class="form-control"
								  ng-model="event.message" placeholder="Message" validator="required" valid-method="blur"></textarea>
					</div>
				</div>
				<div class="text-center form-group">
					<button type="submit" validation-submit="eventForm" ng-click="eventform.submit()" class="btn btn-large btn-primary">Create Event</button>
				</div>
			</fieldset>
		</form>
	</div>
	<br/>
	<div class="col-sm-12" ng-show="message">
		<h3>Returned Output</h3>

		<div class="alert alert-success">
			{{message | json}}
		</div>
	</div>
	<div class="col-sm-12" ng-show="entries">
		<h3>All Entries</h3>

		<div class="alert alert-success">
			<ul class="list-unstyled">
				<li ng-repeat="entry in entries">
					<p>{{entry | json}}</p>
				</li>
			</ul>
		</div>
	</div>
</section>
