<script type="text/ng-template" id="searchGroups.html">
    <a class="group-search">
        <p class="group-search-name">{{match.model.name}} </p>
        <span class="group-search-username"><img width="25px" height="25px" ng-src="{{match.model.createdBy.photo}}" alt="" class="img-circle"/>  {{match.model.createdBy.username}}</span>
        <!--<span class="badge"> </span>-->
        <span class="group-search-icon">&nbsp;<i class="glyphicon glyphicon-plus-sign"></i></span>
    </a>
</script>
<div class="container" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a href="/#!/" class="navbar-brand">{{title}} <span class="badge">beta</span></a>
    </div>
    <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
                <a ng-switch-when="dropdown" class="dropdown-toggle">
                <span data-ng-bind="item.title"></span>
                <b class="caret"></b>
                </a>
                <ul ng-switch-when="dropdown" class="dropdown-menu">
                    <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                        <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                    </li>
                </ul>
                <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
            <li ui-route="/signup" ng-class="{active: $uiRoute}">
                <a href="/#!/signup">Sign Up</a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-route="/signin" ng-class="{active: $uiRoute}">
                <a href="/#!/signin">Sign In</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img ng-src="{{authentication.user.photo}}" alt="" class="profile-image img-circle"/>
                <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/#!/settings/me/profile">Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/auth/signout">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="navbar-form navbar-right" role="search" data-ng-show="authentication.user">
            <div class="form-group">
            <div class="input-group">
                        <input type="text" 
                            typeahead-on-select="onSelect(search.groups); search.groups = '';"
                            typeahead="group for group in getGroups($viewValue)" 
                            typeahead-template-url="searchGroups.html"
                            typeahead-wait-ms="250"
                            class="form-control"
                            placeholder="Search for a group" data-ng-model="search.groups"/>
                    </div>
            </div>
        </div>
    </nav>
</div>
