<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" ngfx-rotate-in="3 > 2", ngfx-speed="medium">
				<img alt="SportsScheduler" class="img-responsive text-center" src="modules/core/img/brand/logo.gif" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				The best place to find pick up games in your area.   
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/signup" target="">Join Today</a>
			</p>
		</div>
	</div>
</section>
