<section class="row" ng-controller="AuthenticationController">
    <h3 class="col-md-12 text-center">Sign up using your social accounts</h3>

    <div class="col-md-12 text-center">
        <a href="/auth/facebook" class="undecorated-link">
            <img src="/modules/users/img/buttons/facebook.png">
        </a>
        <a href="/auth/twitter" class="undecorated-link">
            <img src="/modules/users/img/buttons/twitter.png">
        </a>
        <a href="/auth/google" class="undecorated-link">
            <img src="/modules/users/img/buttons/google.png">
        </a>
        <a href="/auth/linkedin" class="undecorated-link">
            <img src="/modules/users/img/buttons/linkedin.png">
        </a>
        <a href="/auth/github" class="undecorated-link">
            <img src="/modules/users/img/buttons/github.png">
        </a>
    </div>
    <h3 class="col-md-12 text-center">Or with your email</h3>

    <div class="col-sm-6 col-sm-offset-3">
        <form name="userForm" ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="firstName">First Name</label>

                    <div class="col-sm-7">
                        <input type="text" required id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" validator="required, alpha">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="lastName">Last Name</label>

                    <div class="col-sm-7">
                        <input type="text" id="lastName" name="lastName" class="form-control"
                               ng-model="credentials.lastName" placeholder="Last Name" validator="required, alpha">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="email">Email</label>

                    <div class="col-sm-7">
                        <input type="email" id="email" name="email" class="form-control"
                               ng-model="credentials.email"
                               placeholder="Email" validator="required, email">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="username">Username</label>

                    <div class="col-sm-7">
                        <input type="text" id="username" name="username" class="form-control"
                               ng-model="credentials.username" placeholder="Username" validator="required, nospecialchars" minlength-error-message="Minimum 5 characters" >

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="password">Password</label>

                    <div class="col-sm-7">
                        <input type="password" id="password" name="password" class="form-control"
                               ng-model="credentials.password" placeholder="Password" validator="required, oneUpperCaseLetter, oneUpperCaseLetter, oneNumber, oneAlphabet" minlength-error-message="Minimum 5 characters">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="confirmPassword">Confirm Password</label>

                    <div class="col-sm-7">
                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                               ng-model="credentials.confirmPassword" placeholder="Confirm Password" data-match="credentials.password">
                        <span><div class="has-error" ng-show="userForm.confirmPassword.$error.match">Passwords do not match.</div></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="phone">Phone</label>

                    <div class="col-sm-7">
                        <input type="text" name="phone" class="form-control" ng-model="credentials.phone" id="phone"
                               placeholder="Phone number" validator="required, phone" required>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="carriers">Carrier</label>

                    <div class="col-sm-7">
                        <select id="carriers" class="form-control" name="carriers" ng-model="credentials.carrier"
                                ng-options="carrier.carrier for carrier in carriers" validator="required"
                                required="required">
                            <option value="">-- choose carrier --</option>
                        </select>
                    </div>
                </div>
                <div class="text-center form-group">
                    <button type="submit" validation-submit="userForm" class="btn btn-large btn-primary">Sign up</button>
                    &nbsp; or&nbsp;
                    <a href="/#!/signin" class="show-signup">Sign in</a>
                </div>
                <div ng-show="error" class="text-center text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>