$sm-handheld: 320px;
$lg-handheld: 480px;
$xs-screens: 768px;
$md-screens: 992px;
$lg-screens: 1200px;

@mixin respond-to($media) {
  @if $media == sm-handheld {
    @media only screen and (max-width: $sm-handheld) {
      @content;
    }
  } @else if $media == lg-handheld {
    @media only screen and (max-width: $lg-handheld) {
      @content;
    }
  } @else if $media == xs-screens {
    @media only screen and (max-width: $xs-screens) {
      @content;
    }
  } @else if $media == sm-screens {
    @media only screen and (min-width: $xs-screens + 1) {
      @content;
    }
  } @else if $media == md-screens {
    @media only screen and (min-width: $md-screens + 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $lg-screens) {
      @content;
    }
  }

}


@mixin sm-handheld{
  @include respond-to(sm-handheld){ @content}
}
@mixin lg-handheld{
  @include respond-to(lg-handheld){ @content}
}
@mixin xs-screens{
  @include respond-to(xs-screens){ @content}
}
@mixin sm-screens{
  @include respond-to(sm-screens){ @content}
}

@mixin md-screens{
  @include respond-to(md-screens){ @content}
}

@mixin wide-screens{
  @include respond-to(wide-screens){ @content}
}


.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.bold {
  font-weight: bold !important;
}

.global-error {
  margin-top: 55px;
}

.global-error .alert-dismissable .close, .global-error .alert-dismissible .close {
  right: 0;
}

.alert-sm {
  padding: 10px;
  margin-bottom: 5px;
}

.spacing-sm-right {
  margin-right: 10px;
}

.spacing-sm-left {
  margin-left: 10px;
}

.pointer {
  cursor: pointer !important;
}

.modal-btn-sm {
  .modal-footer {
	.btn {
	  padding: 5px 10px;
	  font-size: 12px;
	  line-height: 1.5;
	  border-radius: 3px;
	}
  }
}

@media only screen and (min-width: 769px) {
  .vcenter {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
  }
}

.banner {
  border-bottom: none;
  margin-top: -4px;
  height:585px;
  position: relative;

  h1 {
    font-size: 50px;
    line-height: 1;
    letter-spacing: -1px;
    @include xs-screens{
      font-size:28px;
      text-align: center;
    }
  }
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

@include xs-screens{
  .row > [class^=col]{
    margin-bottom:20px;
  }
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 100%;
}

.slides {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 90px;
  .bg {
    position: absolute;
    top: 0;
    width: 102%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    left: -15px;
    @include xs-screens {
      left: 0;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      left: 0;
      width: 100%;
      top: 0;
      background: #34343a;
      background: rgba(52, 52, 58, 0.6) !important;
    }
  }
  &.first .bg {
    background-image: url("http://farm9.staticflickr.com/8482/8203794182_8004f8f636_b.jpg");
    background-position: center 18%;
  }
  &.second .bg {
    background-image: url("http://farm4.staticflickr.com/3758/9011116378_32e56983e3_b.jpg");
    background-position: center 18%;
  }
}

.slide, .carousel-inner, .carousel {
  height: 100%;
}

.carousel-indicators {
  bottom: 0;
}
.carousel-control{
  cursor:pointer !important;
}

.float-none-xs{
  @include xs-screens{
    float:none !important;
  }
}

.brd-top-primary{
  padding-top:10px;
  border-top:1px solid #eee;
}
.members{
  @include xs-screens{
    margin-top:20px;
  }
}

.truncate{
  width:50px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  display: block;
}

.group-search{
  position: relative;
}
.group-search-name{
  font-weight: bold;
  @extend .truncate;
  width:100px;
  margin-bottom: 0;
}
.group-search-username{
  @extend .truncate;
  width:100px;
}
.group-search-icon{
  position: absolute;
  right:10px;
  top:38%;
}

.members-search{
  @extend .group-search;
}
.members-search-username{
  @extend .group-search-name;
}
.members-search-displayName{
  @extend .group-search-username;
}
.members-search-icon{
  @extend .group-search-icon;
}

.profile-image {
  width:30px;
  height:30px;
}
.navbar-nav > li > a {
  padding-top: 11px;
  padding-bottom: 11px;
  line-height: 32px;
}

body{
  padding-top:59px;
}
