<script type="text/ng-template" id="customTemplate.html">
    <a class="">
        <span>{{match.model.email}} / {{match.model.username}} </span>
        <!--<span class="badge"> </span>-->
        <span class="pull-right">&nbsp;<i class="glyphicon glyphicon-plus-sign"></i></span>
    </a>
</script>
<div class="panel panel-default animated fadeIn"  data-ng-init="findOne()">
    <div class="panel-heading clearfix">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">
                    <a class="btn btn-default btn-sm" href="/#!/groups/{{group._id}}/members/list" ss-dialog dialog-enable='isModified' dialog-ok="redirectHome()" dialog-enable="false" title="Save" message="Are you sure you want to continue without saving?">
                        <i class="glyphicon glyphicon-arrow-left"></i> <span class="hidden-xs">Back</span>
                    </a>
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <br class="visible-xs"/>
                    <div class="input-group">
                        <input type="text" typeahead-on-select="onSelect($item, $model, $label)"
                               typeahead="member as member.username for member in getMembers($viewValue)"
                               typeahead-loading="loading" typeahead-template-url="customTemplate.html"
                               class="form-control"
                               placeholder="Search for a member to add" data-ng-model="search.members"/>
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    </div>
                    <div data-ng-show="loading"><br/>loading...</div>
                </div>
            </div>
        </div>


    </div>
    <div class="panel-body">
        <div class="alert alert-warning alert-sm text-center" data-ng-hide="tempMembers.length">
            <i class="glyphicon glyphicon-exclamation-sign"></i> No members added yet
        </div>
        <ul class="list-groups list-unstyled">
            <li class="list-group-item" data-ng-repeat="member in tempMembers">
                <span class="" data-ng-bind="member.username"></span>
                <span class="pull-right btn-link" data-ng-click="removeTempMember($index);">
                    <i class="glyphicon glyphicon-remove text-danger"></i>
                </span>
            </li>
        </ul>
    </div>

    <div class="panel-footer">
        <div class="text-right">
            <a class="btn btn-primary btn-sm"
               data-ng-click="saveMember()">
                <i class="glyphicon glyphicon-ok"></i> <span class="">Save</span>
            </a>
            <a class="btn btn-danger btn-sm" href="/#!/groups/{{group._id}}/members/list">
                <i class="glyphicon glyphicon-remove"></i> <span class="">Cancel</span>
            </a>

        </div>
    </div>
</div>
