<script type="text/ng-template" id="customTemplate.html">
    <a class="">
        <span>{{match.model.username}} ( {{match.model.displayName}} ) </span>
        <!--<span class="badge"> </span>-->
        <span class="pull-right">&nbsp;<i class="glyphicon glyphicon-plus-sign"></i></span>
    </a>
</script>
<div class="panel panel-default animated fadeIn" data-ng-init="findOne()">
    <div class="panel-heading clearfix">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">
                    <a class="btn btn-primary btn-sm" ng-click="$state.go('viewGroup.listMembers.viewMembers')">
                        <i class="glyphicon glyphicon-arrow-left"></i>
                    </a>
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <br class="visible-xs"/>

                    <div class="input-group">
                        <input type="text" typeahead-on-select="onSelect(search.members); search.members = '';"
                               typeahead="member as member.username for member in getMembers($viewValue)"
                               typeahead-loading="loading" typeahead-template-url="customTemplate.html"
                               class="form-control"
                               placeholder="Search for members to add" data-ng-model="search.members"/>
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    </div>
                    <div data-ng-show="loading"><br/>loading...</div>
                </div>
            </div>
        </div>


    </div>
    <div class="panel-body">
        <ul class="list-groups list-unstyled">
            <li><h4>New Members:</h4></li>
            <li>
                <div class="alert alert-warning alert-sm text-center" data-ng-hide="tempMembers.length">
                    <i class="glyphicon glyphicon-exclamation-sign"></i> No members added yet
                </div>
            </li>
            <li class="list-group-item" data-ng-repeat="member in tempMembers">
                <span class=""><i class="glyphicon glyphicon-user text-primary spacing-sm-right" ng-if="!member.isAdmin"></i><i class="glyphicon glyphicon-king text-primary spacing-sm-right" ng-if="member.isAdmin"></i> {{member.displayName}}</span> ( <span class="text-info" data-ng-bind="member.username"></span> )
                <span class="pull-right btn-link" ng-click="removeTempMember($index)">
                    <i class="glyphicon glyphicon-remove text-danger"></i>
                </span>
            </li>
        </ul>


        <ul class="list-groups list-unstyled" ng-show="group.members.length">
            <li><h4>Existing members:</h4></li>
            <li class="list-group-item" data-ng-repeat="member in group.members | orderBy:'isAdmin' | filter:search.members">
                <span class=""><i class="glyphicon glyphicon-user text-primary spacing-sm-right" ng-if="!member.isAdmin"></i><i class="glyphicon glyphicon-king text-primary spacing-sm-right" ng-if="member.isAdmin"></i> {{member.displayName}}</span> ( <span class="text-info" data-ng-bind="member.username"></span> )

                <span class="spacing-sm-right pointer pull-right" ss-dialog dialog-ok="removeMember($index)" dialog-enable="true"
                      title="Remove Member" message="Are you sure?" data-ng-show="isAdmin()">
                <i class="glyphicon glyphicon-remove text-danger"></i>
                </span>            
                <span class="spacing-sm-right pointer pull-right" ng-click="makeAdmin(member)" data-ng-show="isAdmin() && !member.isAdmin" popover-placement="top" popover="Make admin" popover-trigger="mouseenter">
                <i class="glyphicon glyphicon-king text-primary"></i>
                </span>                    
                <span class="spacing-sm-right pointer pull-right" ng-click="removeAdmin(member)" data-ng-show="isAdmin() && member.isAdmin" popover-placement="top" popover="Revoke admin rights" popover-trigger="mouseenter">
                <i class="glyphicon glyphicon-king text-danger"></i>
                </span>                    
                <span class="spacing-sm-right badge" ng-show="member.isAdmin">
                    admin
                </span>
            </li>
        </ul>
    </div>

    <div class="panel-footer">
        <div class="text-right">
            <a class="btn btn-primary btn-sm"
               data-ng-click="saveMember()">
                <i class="glyphicon glyphicon-ok"></i> <span class="">Save</span>
            </a>
            <a class="btn btn-danger btn-sm" href="/#!/groups/{{group._id}}/members/list">
                <i class="glyphicon glyphicon-remove"></i> <span class="">Cancel</span>
            </a>

        </div>
    </div>
</div>
