<div class="panel panel-default" ng-controller="EventsController" ng-init="find()">
    <div class="panel-heading clearfix">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-9 col-sm-4">
                    <div class="input-group input-group-sm">
                        <input id="day" ng-change="dateChange()" ng-click="open($event)" name="day" type="text"
                        class="form-control" datepicker-popup="{{format}}" ng-model="search.event"
                        is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="Search by date"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-8">
                    <a class="btn btn-primary btn-sm pull-right"
                    href="/#!/groups/{{group._id}}/events/add" data-ng-show="isAdmin()" title="Create an event" popover-placement="top" popover="Create event" popover-trigger="mouseenter">
                    <i class="glyphicon glyphicon-plus"></i>
                    </a>
                    <button class="btn btn-secondary btn-sm pull-right spacing-sm-right"
                    href="/#!/groups/{{group._id}}/events/add" data-ng-show="isAdmin() && events.length" popover-placement="top" popover="Refresh events" popover-trigger="mouseenter" data-ng-click='find()'>
                    <i class="glyphicon glyphicon-refresh"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="alert alert-info alert-sm text-center" data-ng-show="events.length === 0 && isAdmin()">
            No Events yet, why don't you <a href="/#!/groups/{{group._id}}/events/add">add one</a>?
        </div>
        <div class="alert alert-info alert-sm text-center" data-ng-show="events.length === 0 && !isAdmin()">
            No Events in this group
        </div>
        <div class="list-group">
            <a href='/#!/groups/{{event.group._id}}/events/{{event._id}}' class="media list-group-item" data-ng-if="events.length" data-ng-repeat="event in events | orderBy:search.event | filter:search.event" data-ng-class="{'disabled':hasEventExpired(event.time)}">
            <div class="media-left media-middle">
                <i class="glyphicon glyphicon-calendar text-primary spacing-sm-right"></i>
            </div>
            <div class="media-body">
                <div class="row">
                    <div class="col-sm-4 vcenter">
                        <ul class="list-unstyled">
                            <li><h4 class="media-heading">{{event.name}}</h4></li>
                            <li><span>Location Name:</span> <p class="text-primary">{{event.location.name}}</p></li>
                            <li><span>Address:</span><p class="text-primary">{{event.location.address}}</p></li>
                            <li><span>Time:</span><p class="text-primary">{{event.time | date:'medium'}}</p></li>
                        </ul>
                    </div>
                    <div class="col-sm-8 vcenter">
                        <ul class="list-unstyled pull-right">
                            <!--                             <li><a href='/#!/groups/{{event.group._id}}/events/{{event._id}}' class="btn btn-primary btn-sm">Vote</a></li> -->
                            <li><p>Vote Count: <span class="badge">{{event.votes.yes.length + event.votes.no.length}}</span></p></li>
                            <li><p>Votes Required: <span class="badge">{{event.minimumVotes}}</span></p></li>
                            <li ng-if="hasEventExpired(event.time)"><p class="text-danger">Event Ended</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
