<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-9 col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               placeholder="Search for a member" data-ng-model="search.members"/>
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-6">
                    <a class="btn btn-primary btn-sm pull-right"
                       href="/#!/groups/{{group._id}}/members/add">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </div>
            </div>
        </div>


    </div>
    <div class="panel-body">
        <!--<div class="text-info text-center" data-ng-hide="groups.users">No members in this group</div>-->
        <div class="alert alert-warning alert-sm text-center" data-ng-hide="group.members">
            No Members yet, why don't you <a href="/#!/groups/{{group._id}}/members/add">add one</a>?
        </div>

        <div class="list-groups" data-ng-if="group.members">
            <div class="list-group-item" data-ng-repeat="member in group.members | filter:search.members">
                <span class="" data-ng-bind="member.username"></span>
                <span class="pull-right btn-link" data-ng-click="removeMember($index)">
                    <i class="glyphicon glyphicon-remove text-danger"></i>
                </span>
            </div>
        </div>
    </div>
</div>
