<div class="panel panel-default">
<div class="panel-heading clearfix">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-9 col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control"
                           placeholder="Search for a member" data-ng-model="search.members"/>
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
            </div>

            <div class="col-xs-3 col-sm-6">
                <a class="btn btn-primary btn-sm pull-right"
                   href="/#!/groups/{{group._id}}/members/add">
                    <i class="glyphicon glyphicon-plus"></i> <span class="hidden-xs">Add Members</span>
                </a>
            </div>
        </div>
    </div>


</div>
<div class="panel-body">
    <!--<div class="text-info text-center" data-ng-hide="groups.users">No members in this group</div>-->
    <div class="alert alert-warning text-center" data-ng-hide="group.users">
        No Members yet, why don't you <a href="/#!/groups/{{group._id}}/members/add">add one</a>?
    </div>

    <div class="list-groups" data-ng-if="group.users">
        <a data-ng-repeat="user in group.users | filter:search.members" data-ng-href="#!/users/{{user._id}}"
           class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="user.displayName"></h4>
        </a>

        <div class="pull-right">
            <a class="btn btn-primary" data-ng-click="removeUser(user._id);">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    </div>
</div>
</div>
