<section data-ng-controller="GroupsController" data-ng-init="findOne()" class="group">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-9">
            <div class="pull-right">
                <a class="btn btn-primary btn-sm" href="/#!/groups/{{group._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-danger btn-sm" data-ng-click="remove();">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
        <div class="jumbotron text-center">
            <h1 data-ng-bind="group.name"></h1>
            <ul class="text-center list-unstyled">
                <li><h3>Admins:</h3></li>
                <li><h5 class="text-info" data-ng-bind="group.user.displayName"></h5></li>
            </ul>
        </div>

        <br/>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-sm-2">-->
            <!--<div class="list-group">-->
                <!--<a ui-sref=".members" ui-sref-active="active" class="list-group-item active">Members</a>-->
                <!--<a ui-sref=".events" ui-sref-active="active" class="list-group-item">Events</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-10">-->
            <!--<div ui-view></div>-->

        <!--</div>-->
    <!--</div>-->
    <div class="row" role="tabpanel">
        <div class="col-sm-12">

            <ul class="nav nav-tabs">
                <li role="presentation" class="active" ui-sref-active="active"><a ui-sref=".members">Members</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref=".events">Events</a></li>
            </ul>
            <br/>

            <div class="tab-content">
                <div ui-view></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="fb-comments " data-href="http://developers.facebook.com/docs/plugins/comments/"
                     data-numposts="5" data-colorscheme="light" data-width="100%"></div>
            </div>

        </div>
    </div>

</section>
