<div class="row">
    <section data-ng-controller="GroupsController" data-ng-init="findOne()" class="group animated fadeIn container">
        <form editable-form name="editableForm" onaftersave="update()">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-7" ng-show="isOwner(user)">
                    <div class="pull-right float-none-xs">
                        <button class="btn btn-default btn-sm" ng-click="shareGroup()" tooltip-placement="bottom" tooltip="Share group" ng-show="!editableForm.$visible"><i class="glyphicon glyphicon-share"></i> <span class="hidden-xs">Share</span></button>
                        <a class="btn btn-primary btn-sm" ng-click="editableForm.$show()" ng-show="!editableForm.$visible"
                           title="Edit group">
                            <i class="glyphicon glyphicon-edit"></i>
                            <!--<span class="hidden-xs"> Edit Group</span>-->
                        </a>
                <span ng-show="editableForm.$visible">
                <button type="submit" class="btn btn-primary btn-sm" ng-disabled="editableForm.$waiting">
                    Save
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                    Cancel
                </button>
                </span>
                        <a class="btn btn-danger btn-sm" ng-show="!editableForm.$visible"
                           ss-dialog dialog-ok="remove()" dialog-enable="true" title="Delete group"
                           message="Are you sure you want to delete {{group.name}}?">
                            <i class="glyphicon glyphicon-trash"></i>
                            <!--<span class="hidden-xs"> Delete Group</span>-->
                        </a>
                    </div>
                </div>
                <button class="ng-cloak btn btn-primary btn-block btn-lg" ng-hide="isMember()" ng-click="joinGroup()"><i
                        class="glyphicon glyphicon-plus"></i> Join Group
                </button>
                <div class="jumbotron text-center">
                    <h2 editable-text="group.name" e-name="groupName" e-required><i
                            class="fa fa-users text-primary spacing-sm-right"></i>{{group.name}}</h2>
                    <ul class="text-center list-unstyled">
                        <li><h4><i class="glyphicon glyphicon-king text-primary"></i> Admins:</h4></li>
                        <li data-ng-repeat="admin in group.admins | orderBy:['createdBy','isAdmin']:true"><h5 class="text-info">
                            <img width="40px" height="40px" ng-src="{{authentication.user.photo}}" alt="" class="img-circle"/> {{admin.displayName}} <span class="badge" ng-show="isOwner(admin)">owner</span></h5></li>
                    </ul>
                </div>
                <br/>
            </div>
        </form>

        <div class="row" role="tabpanel">
            <div class="col-sm-12">

                <ul class="nav nav-tabs">
                    <li role="presentation" data-ng-class="{ active: $state.includes('viewGroup.listEvents') }"><a
                            ui-sref=".listEvents.viewEvents"><i class="glyphicon glyphicon-calendar text-primary"></i>
                        Events <span class="badge hidden" data-ng-bind="group.events.length"></span></a></li>
                    <li role="presentation" data-ng-class="{ active: $state.includes('viewGroup.listMembers') }"><a
                            ui-sref=".listMembers.viewMembers"><i class="glyphicon glyphicon-user text-primary"></i> Members <span class="badge hidden" data-ng-bind="group.members.length"></span></a> 
                    </li>
                </ul>
                <br/>

                <div class="tab-content">
                    <div ui-view></div>
                </div>
            </div>
            <div class="row" id="group-convo">
                <div class="col-sm-12">
                    <h3 class="page-header">Comments</h3>
                    
                    <div id="fb-comment-box" class="fb-comments" dyn-fb-comment-box
                         page-href="{{absUrl}}"
                         numposts="5"
                         colorscheme="light"
                         width="100%">
                    </div>
                </div>

            </div>
        </div>

    </section>


</div>
