<div class="panel panel-default animated fadeIn"  data-ng-controller="EventsController" data-ng-init="findOne()">
    <div class="panel-heading clearfix">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-primary btn-sm" ng-click="$state.go('viewGroup.listEvents.viewEvents')">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    </a>
                    <span class="pull-right"  ng-show="isAdmin()">
                    <a class="btn btn-primary btn-sm spacing-sm-right" href="/#!/groups/{{event.group._id}}/events/{{event._id}}/edit" ng-hide="hasEventExpired(event.time)">
                    <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" ss-dialog dialog-ok="remove()" dialog-enable="true" title="Delete" message="Are you sure you want to delete event <span class='text-primary'>{{event.name}}</span>?">
                    <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    </span>
                    <button class="btn btn-secondary btn-sm spacing-sm-right pull-right" data-ng-click='findOne()'  ng-hide="hasEventExpired(event.time)">
                    <i class="glyphicon glyphicon-refresh"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <h2 ng-show="hasVotedYes() && !hasEventExpired(event.time)" class="text-success">You are attending</h2>
            <h2 ng-show="hasVotedYes() && hasEventExpired(event.time)" class="text-success">You attended</h2>
            <h2 ng-show="hasVotedNo() && !hasEventExpired(event.time)" class="text-danger">You are not attending</h2>
            <h2 ng-show="hasVotedNo() && hasEventExpired(event.time)" class="text-danger">You did not attend</h2>
            <h2 ng-show="!hasVotedYes() && !hasVotedNo() && !hasEventExpired(event.time)" class="text-info">You have not responded</h2>
            <h2 ng-show="!hasVotedYes() && !hasVotedNo() && hasEventExpired(event.time)" class="text-info">You did not respond</h2>
        </div>
        <div class="page-header ">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="event-name"><i class="glyphicon glyphicon-calendar text-primary spacing-sm-right"></i> {{event.name}}
            </h1>
                </div>
                <div class="col-sm-4">
                    <h1 class="page-header-btns" ng-hide="hasEventExpired(event.time)">
                <br class="visible-xs"/>
                <span>Vote:</span><br class="visible-xs"/>
                <button class="btn btn-primary btn-sm" ng-hide="hasVotedYes()" ng-class="{disabled:hasVotedYes()}" ng-click="voteYes()">Attending</button>
                <button class="btn btn-secondary btn-sm" ng-hide="hasVotedNo()" ng-class="{disabled:hasVotedNo()}" ng-click="voteNo()">Not Attending</button>
            </h1>
                </div>
            </div>
            
            
        </div>
        <section class="row">
            <div class="col-sm-4 vcenter">
                <ul class="list-unstyled">
                    <li><span>Location Name:</span> <p class="text-primary event-location">{{event.location.name}}</p></li>
                    <li ng-if="event.location.address"><span>Address:</span><p class="text-primary event-address">{{event.location.address}}</p></li>
                    <li><span>Time:</span><p class="text-primary event-time">{{event.time | date:'short'}}</p></li>
                    <li ng-if="event.created"><span>Created:</span><p class="text-primary event-created">{{event.created | date:'short'}}</p></li>
                </ul>
            </div>
            <div class="col-sm-8 vcenter">
                <ul class="list-unstyled pull-right float-none-xs">
                    <!--                             <li><a href='/#!/groups/{{event.group._id}}/events/{{event._id}}' class="btn btn-primary btn-sm">Vote</a></li> -->
                    <li><p>Responses: <span class="badge">{{event.attendance.yes.length + event.attendance.no.length}}</span></p></li>
                    <li><p>Attendance Notification: <span ng-if="!event.attndNotifMins" class="text-danger">Not sent</span> <span ng-if="event.attndNotifMins" class="text-primary">{{getTimeDiff(event.time, event.attndNotifMins) | date:'shortTime'}}</span></p></li>
                    <li ng-if="hasEventExpired(event.time)"><p class="text-danger">Event Ended</p></li>
                </ul>
            </div>
            <div class="col-sm-12 event-message" ng-if="event.message">
                <span>Message:</span>
                <p class="text-primary well well-sm">{{event.message}}</p>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="page-header">
                    <h3>  
                    <span ng-show="!hasEventExpired(event.time)">Attending</span>
                    <span ng-show="hasEventExpired(event.time)">Attended</span> 
                    ({{event.attendance.yes.length}}):</h3>
                </div>
                <ul class="list-unstyled">
                    <li data-ng-repeat="user in event.attendance.yes"><p><img width="25px" height="25px" ng-src="{{user.photo}}" alt="" class="img-circle"/> {{user.displayName}} <span class="text-info">({{user.username}})</span></p></li>
                </ul>
                </div>
                <div class="col-sm-4">
                    <div class="page-header">
                    <h3>  
                    <span ng-show="!hasEventExpired(event.time)">Not Attending</span>
                    <span ng-show="hasEventExpired(event.time)">Didn't Attend</span> 
                    ({{event.attendance.no.length}}):</h3>
                </div>
                <ul class="list-unstyled">
                    <li data-ng-repeat="user in event.attendance.no"><p><img width="25px" height="25px" ng-src="{{user.photo}}" alt="" class="img-circle"/> {{user.displayName}} <span class="text-info">({{user.username}})</span></p></li>
                </ul>
                </div>
                <div class="col-sm-4">
                    <div class="page-header">
                    <h3>  
                    <span>Didn't Respond</span> 
                    ({{unrespUsers.length}}):</h3>
                </div>
                <ul class="list-unstyled">
                    <li data-ng-repeat="user in unrespUsers"><p><img width="25px" height="25px" ng-src="{{user.photo}}" alt="" class="img-circle"/> {{user.displayName}} <span class="text-info">({{user.username}})</span></p></li>
                </ul>
                </div>
                
            </div>
        </section>
    </div>
</div>
