<section data-ng-controller="GroupsController" data-ng-init="findOne()" class="group animated fadeIn">
    <form editable-form name="editableForm" onaftersave="saveUser()">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-9">
            
            <div class="pull-right">
                <a class="btn btn-primary btn-sm" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                    <i class="glyphicon glyphicon-edit"></i>
                    <!--<span class="hidden-xs"> Edit Group</span>-->
                </a>
                <span ng-show="editableForm.$visible">
                <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                    Save
                </button>
                <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                    Cancel
                </button>
                </span>
                <a class="btn btn-danger btn-sm" data-ng-click="remove();">
                    <i class="glyphicon glyphicon-trash"></i>
                    <!--<span class="hidden-xs"> Delete Group</span>-->
                </a>
            </div>
        </div>
        <div class="jumbotron text-center">
            <h1 data-ng-bind="group.name" editable-text="group.name" e-name="groupName"></h1>
            <ul class="text-center list-unstyled">
                <li><h3>Admins:</h3></li>
                <li data-ng-repeat="admin in group.admins"><h5 class="text-info" data-ng-bind="admin.displayName"></h5></li>
            </ul>
        </div>

        <br/>
    </div>
        </form>
    <!--<div class="row">-->
        <!--<div class="col-sm-2">-->
            <!--<div class="list-group">-->
                <!--<a ui-sref=".members" ui-sref-active="active" class="list-group-item active">Members</a>-->
                <!--<a ui-sref=".events" ui-sref-active="active" class="list-group-item">Events</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-10">-->
            <!--<div ui-view></div>-->

        <!--</div>-->
    <!--</div>-->
    <div class="row" role="tabpanel">
        <div class="col-sm-12">

            <ul class="nav nav-tabs">
                <li role="presentation"  data-ng-class="{ active: $state.includes('viewGroup.listMembers') }"><a ui-sref=".listMembers.viewMembers">Members</a></li>
                <li role="presentation"  data-ng-class="{ active: $state.includes('viewGroup.listEvents') }"><a ui-sref=".listEvents">Events</a></li>
            </ul>
            <br/>

            <div class="tab-content">
                <div ui-view></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="fb-comments " data-href="http://developers.facebook.com/docs/plugins/comments/"
                     data-numposts="5" data-colorscheme="light" data-width="100%"></div>
            </div>

        </div>
    </div>

</section>
