<script type="text/javascript">
    var _urq = _urq || [];
    _urq.push(['initSite', 'b0a01904-0087-4ed6-946f-309aa5d5a3eb']);
    (function() {
        var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true;
        ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s);
    })();
</script>
