<div class="row settings" data-ng-controller="SettingsController">
    <section class="hero hero-ht">
        <div class="container">
            <div class="jumbotron text-center">
                <h1>User Settings
                </h1>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" data-ng-class="{ active: $state.includes('settings.profile') }"><a
                            ui-sref=".profile"> Profile</a></li>
                    <li role="presentation" data-ng-class="{ active: $state.includes('settings.accounts') }"><a
                            ui-sref=".accounts"> Accounts</a></li>
                    <li role="presentation" data-ng-show="authentication.user.provider === 'local'"
                        data-ng-class="{ active: $state.includes('settings.password') }"><a
                            ui-sref=".password"> Password</a></li>
                    <li role="presentation" data-ng-class="{ active: $state.includes('settings.notifications') }"><a
                            ui-sref=".notifications"> Notifications</a></li>
                </ul>
                <div class="tab-content">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </section>
</div>
