<section data-ng-controller="GroupController" class="row">
	<h3 class="col-md-12 text-center">Create A Group</h3>

	<div class="col-sm-6 col-sm-offset-3">
		<br/>
		<br/>
		<form name="groupForm" class="form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="groupName">Name</label>

					<div class="col-sm-7">
						<input type="text" required id="groupName" name="groupName" class="form-control" ng-model="groupform.name" placeholder="Group Name" validator="required, alpha" valid-method="blur">

					</div>
				</div>
				<div class="text-center form-group">
					<button type="submit" validation-submit="groupForm" ng-click="groupform.submit()" class="btn btn-large btn-primary">Create Group</button>
				</div>
			</fieldset>
		</form>
		</div>
	<br/>
	<div class="col-sm-12 ng-cloak" ng-show="message">
		<h3>Returned Output</h3>

		<div class="alert alert-success">
			{{message | json}}
		</div>
	</div>
	<div class="col-sm-12 ng-cloak" ng-show="entries">
		<h3>All Entries</h3>

		<div class="alert alert-success">
			<ul class="list-unstyled">
				<li ng-repeat="entry in entries">
					<p>{{entry | json}}</p>
				</li>
			</ul>
		</div>
	</div>
</section>
