<section data-ng-controller="EventsController">
    <div class="page-header">
        <h1 class="text-left">New Event</h1>
    </div>
    <div class="col-md-12">
        <form name="eventsForm" class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="name">Name</label>
                    <div class="col-sm-7">
                        <input type="text"
                               name="name"
                               data-ng-model="event.name"
                               id="name"
                               class="form-control"
                               validator="required, alpha"
                               placeholder="Name"
                               valid-method="blur" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="location">Location</label>

                    <div class="col-sm-7">
                        <input type="text" id="location" name="location" class="form-control"
                               data-ng-model="event.location" placeholder="Location" validator="required, alpha" valid-method="blur">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="startTime">Start Time</label>

                    <div class="col-sm-7">
                        <input type="startTime" id="startTime" name="startTime" class="form-control"
                               data-ng-model="event.startTime"
                               placeholder="Start Time" validator="required" valid-method="blur">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="endTime">End Time</label>

                    <div class="col-sm-7">
                        <input type="text" id="endTime" name="endTime" class="form-control"
                               data-ng-model="event.endTime" placeholder="End Time" validator="required, nospecialchars" minlength-error-message="Minimum 5 characters" valid-method="blur">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="message">Message</label>

                    <div class="col-sm-7">
                        <textarea class="form-control" rows="3" id="message" name="message" class="form-control"
                                  data-ng-model="event.message" placeholder="Message" validator="required" valid-method="blur"></textarea>
                    </div>
                </div>
                <div class="text-center form-group">
                    <button type="submit" validation-submit="eventsForm" ng-click="create()" class="btn btn-large btn-primary">Create Event</button>
                </div>
                <!--<div class="form-group">-->
                    <!--<input type="submit" class="btn btn-default">-->
                <!--</div>-->
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
