<section id="userform" data-ng-controller="UserformController" class="row">
    <form name="Form" class="form-horizontal" role="form" novalidate="">
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-5">
                <input type="email" class="form-control" ng-model="form.email" id="inputEmail" placeholder="Email" validator="required, email" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="form.phone" id="inputPhone" placeholder="Phone number" validator="required, phone" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" validation-submit="Form" ng-click="form.submit()" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </form>
    <br/>
    <div class="col-sm-8" ng-show="message">
        <h3>Returned Output</h3>

        <div class="alert alert-success">
            {{message | json}}
        </div>
    </div>
    <div class="col-sm-8" ng-show="entries">
        <h3>All Entries</h3>

        <div class="alert alert-success">
            <ul class="list-unstyled">
                <li ng-repeat="entry in entries">
                    <p>{{entry | json}}</p>
                </li>
            </ul>
        </div>
    </div>

</section>